CacheControl
cachetools
certifi
charset-normalizer
click
firebase-admin
Flask
Flask-FontAwesome
Flask-Login
Flask-WTF
fontawesome
gcloud
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn
httplib2
idna
importlib-metadata
itsdangerous
Jinja2
joblib
jws
MarkupSafe
msgpack
numpy
oauth2client
proto-plus
protobuf
pyasn1
pyasn1-modules
pycryptodome
pyparsing
Pyrebase
python-jwt
requests
requests-toolbelt
rsa
scikit-learn
scipy
six
sklearn
threadpoolctl
uritemplate
urllib3
Werkzeug
WTForms
zipp
